@import '~bootstrap/dist/css/bootstrap.min.css';
@import './globaConfig.css';

#button {
    background-color: #e900c6;
    border: none;
    font-weight: 500;
    padding: 0.5rem;
}

#topics__button {
    background-color: #000024;
    border: solid 0.2rem #00e9ab;
    color: #e900c6;
    font-size: 1.2rem;
    width: 80%;
}

#topics__lessonsOnTopics {
    color: #dcdcdc;
    font-size: 1rem;
}

#button__addLesson {
    background-color: #000024;
    border: solid 0.1rem #dcdcdc;
    color: #dcdcdc;
}

#lesson__title {
    color: #dcdcdc;
    font-size: 1rem;
}