<header>

    <div class="navbar-logo-pesquisa-perfil">
        <div class="container">
            <div class="logo">
                <h1>SaberDigital</h1>
            </div>
            <div class="barra-pesquisa">
                <input type="text" placeholder="pesquise aqui" id="barra-pesquisa" name="barra-pesquisa">
            </div>
            <div class="foto-perfil">
                <button><i class="far fa-user"></i></button>
            </div>
        </div>
    </div>

    <div class="navbar-dashboard-biblioteca-forum">
        <div class="container">
            <button>meu dashboard</button>
            <button>biblioteca</button>
            <button>fórum</button>
        </div>
    </div>

</header>