@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    background: none;
    color: #fdfaec;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

body {
    background: linear-gradient(to right, #181b32, #202441);
}

/* HEADER */

header{
    background: linear-gradient(to right, #5d14a9, #89199c);
    color: blanchedalmond;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* MAIN */

main .container-pesquisa {
    background: linear-gradient(to right, #5d14a9, #89199c);
    border-top: solid 3px #181B32;
    display: flex;
    justify-content: center;
}
main .container-pesquisa .barra-pesquisa {
    /* border: solid green 1px; */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    max-width: 100%;
}

main .container-pesquisa .barra-pesquisa input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 25px;
}

main .container {
    margin-top: 50px;
    min-height: 100vh;
}

main .container .lista-materia {
    border-radius: 10px;
    background-color: #D6D6F6;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

main .container .lista-materia .materia {
    /* border: solid 1px black; */
    background: linear-gradient(to right, #E07A5F, #D6D6F6);
    width: 100%;
    margin: 1px 1px;
    border-radius: 10px;
    /* flex-grow: 1; */
    font-size: 60px;
    text-align: center;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 50px;
    height: 90px;
    border-top: dashed 1px blanchedalmond;
    background: linear-gradient(to right, #5D14A9, #89199C );
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .rodape p {
    color: blanchedalmond;
}