@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #181b32, #202441);
}

body::-webkit-scrollbar {
    display: none;
}

.botoes {
    background: linear-gradient(to right, #5d14a9, #89199c);
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.botoes button {
    background: none;
    color: #fdfaec;
    font-size: 18px;
    cursor: pointer;
}

.botoes button:hover {
    font-size: 20px;
}

.barra-pesquisa {
    display: flex;
    justify-content: center;
    height: 300px;
    background: linear-gradient(to right, #181b32, #202441);
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra-pesquisa::placeholder {
    color: #fdfaec;
}

#barra-pesquisa {
    background: linear-gradient(to right, #5d14a9, #89199c);
    height: 35px;
    width: 35%;
    border-radius: 30px;
    cursor: text;
    outline: none;
    color: #fdfaec;
    text-align: center;
}

.meus-cursos {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    height: 150px;
}

.cursos {
    background: linear-gradient(to right, #181b32, #202441);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.curso {
    width: 90%;
    height: 150px;
    margin-bottom: 50px;
    background: #d6d6f6;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181b32;
    font-size: 25px;
}

.materias{
    background: linear-gradient(to right, #181b32, #202441);
    height:100;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.materia{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #d6d6f6;
    border-radius: 7px;
    color: #181b32;
    font-size: 25px;
    
}


footer{
        
    background: linear-gradient(to right, #5d14a9, #89199c);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    top: 100px;
}

footer h2{
    color: #fff;
    text-align: center;
    font-size: 10px;

}
