<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../style/biblioteca.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h2>SaberDigital</h2>
            </div>
            <div class="barra-pesquisa">
                <input type="text" placeholder="Buscar outras bases de conhecimento" id="barra-pesquisa" name="barra-pesquisa">
            </div>
            <div class="logado">
                <button><i class="far fa-user"></i></button>
            </div>
        </div>
    </header>
    <main>

        <div class="container-botoes">
            <div class="container botoes">
                <button>MEU DASHBOARD</button>
                <button>BIBLIOTECA</button>
                <button>FÓRUM</button>
            </div>
        </div>
<!--       <div class="barra-pesquisa">
            <input type="text" placeholder="pesquise aqui" id="barra-pesquisa" name="barra-pesquisa">
        </div>-->
        <div class="content container">
            <div class="titulo"><h2>Biblioteca</h2></div>
            <ul class="lista-cursos">
                <a href="#"><li class="curso">Matemática</li></a>
                <a href="#"><li class="curso">Filosofia</li></a>
                <a href="#"><li class="curso">Física</li></a>
                <a href="#"><li class="curso">Gêneros textuais</li></a>
                <a href="#"><li class="curso">Segunda guerra mundial</li></a>
                <a href="#"><li class="curso">Porcentagem</li></a>
                <a href="#"><li class="curso">Karl Marx</li></a>
                <a href="#"><li class="curso">2° Lei de Newton</li></a>
                <a href="#"><li class="curso">Matemática</li></a>
                <a href="#"><li class="curso">Filosofia</li></a>
                <a href="#"><li class="curso">Física</li></a>
                <a href="#"><li class="curso">Gêneros textuais</li></a>
                <a href="#"><li class="curso">Segunda guerra mundial</li></a>
                <a href="#"><li class="curso">Porcentagem</li></a>
                <a href="#"><li class="curso">Karl Marx</li></a>
                <a href="#"><li class="curso">2° Lei de Newton</li></a>

                <a href="#"><li class="curso">Matemática</li></a>
                <a href="#"><li class="curso">Filosofia</li></a>
                <a href="#"><li class="curso">Física</li></a>
                <a href="#"><li class="curso">Gêneros textuais</li></a>
                <a href="#"><li class="curso">Segunda guerra mundial</li></a>
                <a href="#"><li class="curso">Porcentagem</li></a>
                <a href="#"><li class="curso">Karl Marx</li></a>
                <a href="#"><li class="curso">2° Lei de Newton</li></a>
                <a href="#"><li class="curso">Matemática</li></a>
                <a href="#"><li class="curso">Filosofia</li></a>
                <a href="#"><li class="curso">Física</li></a>
                <a href="#"><li class="curso">Gêneros textuais</li></a>
                <a href="#"><li class="curso">Segunda guerra mundial</li></a>
                <a href="#"><li class="curso">Porcentagem</li></a>
                <a href="#"><li class="curso">Karl Marx</li></a>
                <a href="#"><li class="curso">2° Lei de Newton</li></a>
                <a href="#"><li class="curso">Matemática</li></a>
                <a href="#"><li class="curso">Filosofia</li></a>
                <a href="#"><li class="curso">Física</li></a>
                <a href="#"><li class="curso">Gêneros textuais</li></a>
                <a href="#"><li class="curso">Segunda guerra mundial</li></a>
                <a href="#"><li class="curso">Porcentagem</li></a>
                <a href="#"><li class="curso">Karl Marx</li></a>
                <a href="#"><li class="curso">2° Lei de Newton</li></a>

                <a href="#"><li class="curso">Matemática</li></a>
                <a href="#"><li class="curso">Filosofia</li></a>
                <a href="#"><li class="curso">Física</li></a>
                <a href="#"><li class="curso">Gêneros textuais</li></a>
                <a href="#"><li class="curso">Segunda guerra mundial</li></a>
                <a href="#"><li class="curso">Porcentagem</li></a>
                <a href="#"><li class="curso">Karl Marx</li></a>
                <a href="#"><li class="curso">2° Lei de Newton</li></a>











            </ul>
                </div>
            
        <footer>
            <div class="informacoes">
                <h2>© Copyright2021</h2>
                <h2>Projeto integrador Grupo 10 - Todos os direitos reservados.</h2>
            </div>
        </footer>
       </main> 
</body>
</html>