<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum Geral</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/forum-geral.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h2>SaberDigital</h2>
            </div>
            <div class="barra-pesquisa">
                <input type="text" placeholder="Buscar outras bases de conhecimento" id="barra-pesquisa" name="barra-pesquisa">
            </div>
            <div class="logado">
                <button><i class="far fa-user"></i></button>
            </div>
        </div>
    </header>
    <main>

        <div class="container-botoes">
            <div class="container botoes">
                <button>MEU DASHBOARD</button>
                <button>BIBLIOTECA</button>
                <button>FÓRUM</button>
            </div>
        </div>

<div class="content container">
            
    <div class="container-pesquisa">
        <div class="barra-pesquisa">
            <input type="text" placeholder="Buscar dúvidas em todos os fórums" id="barra-pesquisa" name="barra-pesquisa">
        </div>
    </div>

            <div class="titulo">
                <h2>Fórum Geral</h2>
            </div>
            
            <div class="container-topicos-curso">
            <ul class="topicos-curso">
                <a href=""><li>Matemática</li></a>
                <a href=""><li>Biologia</li></a>
                <a href=""><li>Química</li></a>
                <a href=""><li>História</li></a>
                <a href=""><li>Geografia</li></a>
                </ul>
            </div>
           
        </div>
    </main>
    <footer>
        <div class="rodape">
            <p>
                © Copyright 2021 <br> Projeto Integrador Grupo 10 - Todos os direitos reservados.
            </p>
        </div>
    </footer>
</body>
</html>