<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Curso - Título do Curso</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/home-curso.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h2>SaberDigital</h2>
            </div>
            <div class="barra-pesquisa">
                <input type="text" placeholder="Buscar outras bases de conhecimento" id="barra-pesquisa" name="barra-pesquisa">
            </div>
            <div class="logado">
                <button><i class="far fa-user"></i></button>
            </div>
        </div>
    </header>
    <main>

        <div class="container-botoes">
            <div class="container botoes">
                <button>MEU DASHBOARD</button>
                <button>BIBLIOTECA</button>
                <button>FÓRUM</button>
            </div>
        </div>

        <div class="content container">
            
            <div class="featured-image-curso"></div>

            <div class="nome-curso">
                <h2>Título do Curso</h2>
            </div>
            
            <div class="container-topicos-curso">
            <ol class="topicos-curso">
                <a href=""><li>Aula 1</li></a>
                <a href=""><li>Aula 2</li></a>
                <a href=""><li>Aula 3</li></a>
                <a href=""><li>Aula 4</li></a>
                <a href=""><li>Aula 5</li></a>
            </div>
           
        </div>
    </main>
    <footer>
        <p>
            © Copyright 2021 <br> Projeto Integrador Grupo 10 - Todos os direitos reservados.
        </p>
    </footer>
</body>
</html>