<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Aula - Título da Aula</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/home-aula.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h2>SaberDigital</h2>
            </div>
            <div class="barra-pesquisa">
                <input type="text" placeholder="Buscar outras bases de conhecimento" id="barra-pesquisa" name="barra-pesquisa">
            </div>
            <div class="logado">
                <button><i class="far fa-user"></i></button>
            </div>
        </div>
    </header>
    <main>

        <div class="container-botoes">
            <div class="container botoes">
                <button>MEU DASHBOARD</button>
                <button>BIBLIOTECA</button>
                <button>FÓRUM</button>
            </div>
        </div>

        <div class="content container">

            <div class="titulo-aula">
                <h2>Aula 1</h2>
            </div>

            <div class="container-aula col-8">

                <div class="video_holder">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SmQMZ36hJJY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="container-material">

                     <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'material')">Material</button>
                        <button class="tablinks" onclick="openCity(event, 'duvidas')">Dúvidas</button>
                        <button class="tablinks" onclick="openCity(event, 'comentarios')">Comentários</button>
                    </div>
                    
                    <!-- Tab content -->
                    <div id="material" class="tabcontent">
                        <h3>Material da Aula</h3>
                        <p>Como colar e ser descolado?</p>
                    </div>
                    
                    <div id="duvidas" class="tabcontent">
                        <h3>Dúvidas</h3>
                        <p>Qual a cor do cavalo branco de napoleão?</p>
                    </div>
                    
                    <div id="comentarios" class="tabcontent">
                        <h3>Comentários</h3>
                        <p>Zezinho: Que aula chata!</p>
                    </div> 
                    
                </div>

            </div>

            <div class="container-track-curso col-4">
                <div class="nome-curso">
                    <h2>Título do Curso</h2>
                </div>

                    
                <div class="container-topicos-curso">
                <ol class="topicos-curso">
                    <a href=""><li>Aula 1</li></a>
                    <a href=""><li>Aula 2</li></a>
                    <a href=""><li>Aula 3</li></a>
                    <a href=""><li>Aula 4</li></a>
                    <a href=""><li>Aula 5</li></a>
                </div>
            </div>
            </div>
        </div></div>
    </main>
    <footer>

        <script type="text/javascript">
            function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
} 
        </script>
        <p>
            © Copyright 2021 <br> Projeto Integrador Grupo 10 - Todos os direitos reservados.
        </p>
    </footer>
</body>
</html>