<%- include('./includes/head') %>

  <body>


    <div class="d-flex justify-content-center align-items-center" id="cadastro_wrapper_form">

      <form action="/cadastro" method="post" id="cadastro_form">

        <div class="mb-3">
          <span id="form_campos_titulo">nome:</span>
          <label for="nome" class="form-label"></label>
          <input type="text" name="nome" class="form-control" id="form_input" placeholder="digite o seu nome">
        </div>

        <div class="mb-3">
          <span id="form_campos_titulo">sobrenome:</span>
          <label for="sobrenome" class="form-label"></label>
          <input type="text" name="sobrenome" class="form-control" id="form_input"
            placeholder="digite o seu sobrenome">
        </div>

        <div class="mb-3">
          <span id="form_campos_titulo">email:</span>
          <label for="email" class="form-label"></label>
          <input type="email" name="email" class="form-control" id="form_input" placeholder="digite o seu email"
            aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <span id="form_campos_titulo">senha:</span>
          <label for="senha" class="form-label"></label>
          <input type="password" name="senha" class="form-control" id="form_input" placeholder="digite a sua senha">
        </div>

        <span id="form_campos_titulo">categoria:</span>
        <select name="categoria" class="form-select" id="cadastro_categorias">
          <option value="estudante">estudante</option>
          <option value="professor">professor</option>
        </select>

        <span id="form_campos_titulo">disciplina:</span>
        <select name="disciplina" class="form-select" id="cadastro_disciplinas">
          <option value="1">artes</option>
          <option value="2">biologia</option>
          <option value="3">espanhol</option>
          <option value="4">filosofia</option>
          <option value="5">física</option>
          <option value="6">geografia</option>
          <option value="7">história</option>
          <option value="8">inglês</option>
          <option value="9">literatura</option>
          <option value="10">matemática</option>
          <option value="11">português</option>
          <option value="12">química</option>
          <option value="13">redação</option>
          <option value="14">sociologia</option>
        </select>

        <button type="submit" class="btn btn-primary my-3" id="botao_primario">CADASTRAR</button>

      </form>

      <% if (erros.length > 0) { %>
        <div class="d-flex flex-column justify-content-around align-items-end" id="wrapper_erros">
          <% erros.forEach(erro => { %>
            <span id="erros">
              <%= erro %>
            </span>
          <% }) %>
        </div>
      <% } %>

    </div>

  </body>

  </html>
