<%- include('./partials/head') %>

    <body>

        <%- include('./partials/navbar') %>

            <div class="container">

                <div class="row py-5 text-center" id="dashboard__upSide">

                    <div class="col-md-6">

                        <i class="fas fa-book" id="dashboard__icons"></i>
                        <h2 class="my-2" id="dashboard__title">BIBLIOTECA</h2>
                        <p id="dashboard__paragraph">encontre aqui todas as disciplinas</p>

                    </div>

                    <div class="col-md-6">

                        <i class="far fa-clipboard" id="dashboard__icons"></i>
                        <h2 class="my-2" id="dashboard__title">ANOTAÇÕES</h2>
                        <p id="dashboard__paragraph">...a gente sabe que às vezes dá aquele branco...</p>

                    </div>

                </div>

                <div class="row">

                    <div>
                        <button type="submit" class="btn btn-primary" id="button__primary">
                            meus cursos
                        </button>
                    </div>

                </div>

            </div>



            <script src="./dist/bundle.js"></script>
    </body>

    </html>