<%- include('./partials/head') %>

    <body>

        <%- include('./partials/navbar') %>

            <div class="container mt-5">

                <div class="row">

                    <div>
                        <button class="btn btn-primary mt-2 p-2" id="topics__button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#niilismo" aria-expanded="false"
                            aria-controls="niilismo">
                            niilismo
                            <i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>

                    <div class="collapse" id="niilismo">
                        <p id="topics__lessonsOnTopics"> - aula 01: niilismo</p>
                    </div>

                    <div class="collapse" id="niilismo">
                        <p id="topics__lessonsOnTopics"> - aula 02: niilismo</p>
                    </div>

                    <div class="collapse" id="niilismo">
                        <p class="mb-1" id="topics__lessonsOnTopics"> - aula 03: niilismo</p>
                    </div>

                    <div class="collapse" id="niilismo">
                        <button type="button" class="btn btn-primary" id="button__secondary">
                            <i class="fas fa-plus"></i>
                            aula
                        </button>
                    </div>

                </div>

                <div class="row">

                    <div>
                        <button class="btn btn-primary mt-2 p-2" id="topics__button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#existencialismo" aria-expanded="false"
                            aria-controls="existencialismo">
                            existencialismo
                            <i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>

                    <div class="collapse" id="existencialismo">
                        <p id="topics__lessonsOnTopics"> - aula 01: existencialismo</p>
                    </div>

                    <div class="collapse" id="existencialismo">
                        <p id="topics__lessonsOnTopics"> - aula 02: existencialismo</p>
                    </div>

                    <div class="collapse" id="existencialismo">
                        <button type="button" class="btn btn-primary" id="button__secondary">
                            <i class="fas fa-plus"></i>
                            aula
                        </button>
                    </div>

                </div>

                <div class="row">

                    <div>
                        <button class="btn btn-primary mt-2 p-2" id="topics__button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#epicurismo" aria-expanded="false"
                            aria-controls="epicurismo">
                            epicurismo
                            <i class="far fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>

                    <div class="collapse" id="epicurismo">
                        <p id="topics__lessonsOnTopics"> - aula 01: epicurismo</p>
                    </div>

                    <div class="collapse" id="epicurismo">
                        <p id="topics__lessonsOnTopics"> - aula 02: epicurismo</p>
                    </div>

                    <div class="collapse" id="epicurismo">
                        <button type="button" class="btn btn-primary" id="button__secondary">
                            <i class="fas fa-plus"></i>
                            aula
                        </button>
                    </div>

                </div>


            </div>

            <script src="./dist/bundle.js"></script>
    </body>

    </html>