@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fab, .far {
    font-weight: 400;
    font-size: 2em;
}

button {
    background: none;
    color: #fdfaec;
}
.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

body {
    background: linear-gradient(to right, #181b32, #202441);
    height: 100vh;
}

/* HEADER */
header{
    background: linear-gradient(to right, #5d14a9, #89199c);
    color: blanchedalmond;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header .container .barra-pesquisa{
    width: 80%;
    border: none;
}
 
header .container .barra-pesquisa input {
    width: 100%;
    height: 3em;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size:1em;
}

.profile-picture {
    width: 4em;
    border-radius: 50%;
}

/* MAIN */

main {
    height: 100vh;
}

main .container-botoes{
    background: #282d53;
    width: 100%;
    border-top: none;
}

main .container-botoes .botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}


main .container-botoes .botoes button {
    font-size: 18px;
    cursor: pointer;
}

main .container p {
    color: blanchedalmond;
    font-size: 25px;
    padding-top: 60px;
}

/* main section.add-material form{
    border: dotted 5px blanchedalmond;
} */

main .container .nome-curso {
    background-color: #D6D6F6;
    font-size: 40px;
    color: black;
    border-radius: 15px;
    padding: .5em;
    margin: .5em 0 .5em 0;
}


main .container section.add-material {
    margin-top: 15px;
    background: #282d53;
    padding: 1em;
    border-radius: 5px;
}

main .container section.add-material form {
    width: 100%;
    padding-top: .5em;
}

main .container section.add-material form label {
    font-size: 25px;
    color: blanchedalmond;
}

main .container section.add-material form input {
    width: 100%;
    margin-bottom: .5em;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    height: 4em;
}

main .container section.add-material form input.input-file {
    color: blanchedalmond;
    border-radius: 5px;
}

main .container section.add-material form input:placeholder{
    font-size:1em;
    text-align:left;
}
  

main .container section.add-material form textarea {
    width: 100%;
height: 200px;
border: solid 2px blanchedalmond;
border-radius: 5px;
padding: 1em;
}

main .container section.add-material form button {
    width: 100%;
    background-color: #198754;
    font-size: 25px;
    border-radius: 10px;
    height: 3em;
    margin-top: .5em;
}

button.add-aula {
    background-color:#e07a5f;
    border-radius: 5px;
    font-size:1.5em;
    padding: .5em;
}

/* FOOTER */

footer {
    text-align: center;
    height: 90px;
    margin-top: 50px;
    background: #282d53;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    color: blanchedalmond;
}