@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fab, .far {
    font-weight: 400;
    font-size: 2em;
}

button {
    background: none;
    color: #fdfaec;
}
.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

body {
    background: linear-gradient(to right, #181b32, #202441);
    height: 100vh;
}

/* HEADER */
header{
    background: linear-gradient(to right, #5d14a9, #89199c);
    color: blanchedalmond;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header .container .barra-pesquisa{
    width: 80%;
    border: none;
}
 
header .container .barra-pesquisa input {
    width: 100%;
    height: 3em;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size:1em;
}

.profile-picture {
    width: 4em;
    border-radius: 50%;
}

/* MAIN */

main {
    height: 100vh;
}

main .container-botoes{
    background: #282d53;
    width: 100%;
    border-top: none;
}

main .container-botoes .botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

main .container-botoes .botoes button {
    font-size: 18px;
    cursor: pointer;
}

main .container p {
    color: blanchedalmond;
    font-size: 25px;
    padding-top: 60px;
}

/* main section.add-material form{
    border: dotted 5px blanchedalmond;
} */

main .container .nome-curso strong{
    background-color: #D6D6F6;
    font-size: 40px;
    color: black;
    border-radius: 15px;
    padding: 5px;
}

main .container section.add-material {
    border: dotted 1px #D6D6F6;
    margin-top: 15px;
}

main .container section.add-material form {
    width: 800px;
    padding: 5px;
}

main .container section.add-material form label {
    font-size: 25px;
    color: blanchedalmond;
}

main .container section.add-material form input {
    width: 600px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
}

main .container section.add-material form input.input-file {
    color: blanchedalmond;
    border-radius: 5px;
}

main .container section.add-material form textarea {
    width: 600px;
    height: 200px;
    border: solid 2px blanchedalmond;
}

main .container section.add-material form button {
    width: 100%;
    background-color: #198754;
    font-size: 25px;
    border-radius: 10px;
}


/* FOOTER */

footer {
    text-align: center;
    height: 90px;
    margin-top: 50px;
    background: #282d53;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    color: blanchedalmond;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    padding: 5% 0 5% 0;
}

.meus-cursos {
    color: #d6d6f6;
    font-weight: bold;
}

.titulo {
    color: #d6d6f6;
    font-size: 1.5em;
    font-weight: bold;
}

.lista-cursos {
    background: linear-gradient(to right, #181b32, #202441);
    height: 400px;
    /*display: flex;
    flex-wrap: wrap;*/
    align-items: center;
    justify-content: center;
}

.curso {
    width: 24%;
    height: 150px;
    background: #d6d6f6;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181b32;
    font-size: 25px;
    float: left;
    padding: 1%;
    margin: 0 0.5% 0.5% 0;
}
/*RESPONSIVIDADE MATERIAS/CURSOS*/

/* Código geral, que será herdado por qualquer dispositivos.
   nesse caso, seria o código usado no desktop, na maioria das   vezes. 
   Se você já conhecer a ideia do Mobile First, esse primeiro código será destinado para mobiles.
*/


/* 
 Pra dispositivos que tem uma largura máxima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (max-width: 768px) {
    .curso {
        width: 98%;}
}

/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (min-width: 768px) {
    .curso {
        width: 48%;}
}

/* 
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {
    .curso {
        width: 24%;
    }
}

/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {
  
}


footer{
    text-align: center;
    height: 90px;
    margin-top: 50px;
    background: #282d53;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer h2{
    color: #fff;
    text-align: center;
    font-size: 10px;

}