@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

/* RESETANDO CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

/* VARIÁVEIS */
:root {
    --azul-primario: #282d53;
    --cinza-primario: #e6e6e6;
    --azul-escuro-destaque: #181B32;
    --rosa-roxo-gradiente: linear-gradient(to right, #5d14a9, #89199c);
    --rosa-dark-magenta: #89199C;
    --roxo-purple: #5d14a9;
}

/* CONFIGURAÇÕES GERAIS */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--azul-primario);
    height: 100vh;
}

header {
    color: #fff;
}

button {
    background: none;
    color: #fff;
    cursor: pointer;
}

input {
    border: none;
    text-align: center;
}

::-webkit-input-placeholder{
    color: gray;
    opacity: 0.5;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

/* NAVBAR: logo, pesquisa e perfil */
header .navbar-logo-pesquisa-perfil {
    background: var(--rosa-roxo-gradiente);
}

header .container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-weight: 500;
    font-size: 2.5rem;
}

header .barra-pesquisa{
    width: 50%;
}
 
header .barra-pesquisa input {
    width: 100%;
    height: 3.5rem;
    border-radius: 3rem;
    color: var(--rosa-dark-magenta);
    font-size: 1.7rem;
}

header .foto-perfil .far {
    font-size: 2.5rem;
}

/* HEADER: dashboard, biblioteca e fórum */
header .navbar-dashboard-biblioteca-forum {
    background: var(--azul-escuro-destaque);
}

header .navbar-dashboard-biblioteca-forum button {
    text-transform: uppercase;
    font-size: 2rem;
}


/* MAIN */
main .content-container {
    background: var(--cinza-primario);
    /* background: rgb(240, 240, 240); */
    padding: 7rem;
    max-width: 80%;
    margin: auto;
    height: 83rem;
    margin-top: 15rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

main .content-container p {
    color: var(--azul-escuro-destaque);
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

main .add-material-cabecalho {
    margin-bottom: 4rem;
}

main .lista-topicos {
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

main .lista-topicos button {
    color: gray;
}

main .add-material-cabecalho button {
    background: var(--rosa-roxo-gradiente);
    border-radius: 0.4rem;
    font-size: 2rem;
    font-weight: 300;
    width: 9rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

main .add-material-cabecalho input {
    width: 80%;
    height: 3rem;
    /* border: solid 0.1rem var(--roxo-purple); */
    border-radius: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: gray;
}

main ::-webkit-input-placeholder{
    color: gray;
    opacity: 0.5;
    font-size: 1.6rem;
    font-weight: 300;
}

main .add-material-cabecalho .file {
    text-decoration: none;
    border: none;
    border-radius: 0;
    list-style: none;
    color: var(--cinza-primario);
    font-size: 1.4rem;
}

main .add-material form #descricao-titulo {
    font-size: 2rem;
    font-weight: 300;
    color: var(--azul-escuro-destaque);
}

main .add-material form textarea {
    width: 100%;
    height: 20rem;
    border: solid 0.1rem var(--roxo-purple);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: gray;
}

main .add-material #adicionar-aula {
    background-color: #5dda3d;
    /* background: var(--rosa-roxo-gradiente); */
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding: 1rem;
}


/* FOOTER */
footer {
    text-align: center;
    height: 8rem;
    margin-top: 8rem;
    background: var(--azul-escuro-destaque);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
}

footer h2 {
    font-size: 1.3rem;
    font-weight: 300;
}