<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="disciplinas">

    <% if (disciplina.professores.length === 0) { %>
        <%= 'não há professores cadastrados para essa disciplna' %> 
    <% } else { %>
        <% disciplina.professores.forEach(professor=> { %>
            <a href="/disciplinas/<%= disciplina.id %>/professores/<%= professor.id %>/topicos"> <%= professor.nome %></a><br>
        <% }) %>
    <% } %>

    </div>

</body>

</html>