<%- include('./partials/head') %>
  <link rel="stylesheet" href="/stylesheets/usuario_cadastro.css">
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Cadastro do usuário</h1>
      </div>
    </header>
    
    <main>
      <section class="form-cadastro">
        <div class="container">

          <form action="/usuarios/cadastro" method="POST">
            <label for="nome">nome:</label>
            <input type="text" name="nome" id="nome" placeholder="insira seu nome" required><br>

            <label for="sobrenome">sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome" placeholder="insira seu sobrenome" required><br>

            <label for="email">e-mail</label>
            <input type="email" name="email" placeholder="insira seu e-mail" required><br>
            
            <label for="senha">senha:</label>
            <input type="password" name="senha" placeholder="insira sua senha" required><br>

            <label for="categoria">categoria:</label>
            <select name="categoria" id="categoria">
                <option value="estudante">estudante</option>
                <option value="professor">professor(a)</option>
            </select>
            <br>
            <label for="disciplina">Disciplina Relacionada:</label>
            <select name="disciplina" id="disciplina">
                <option value="1">artes</option>
                <option value="2">biologia</option>
                <option value="3">espanhol</option>
                <option value="4">filosofia</option>
                <option value="4">física</option>
                <option value="4">geografia</option>
                <option value="4">história</option>
                <option value="4">inglês</option>
                <option value="4">literatura</option>
                <option value="4">matemática</option>
                <option value="4">português</option>
                <option value="4">química</option>
                <option value="4">redação</option>
                <option value="4">sociologia</option>
            </select>
            <br>
            <button type="submit">CADASTRAR CONTA</button>
          </form>
        </div>
      </section>

    </main>
  </body>
  <%- include('./partials/footer') %>

    </html>