@import '~bootstrap/dist/css/bootstrap.min.css';
@import './globaConfig.css';

#button__primary {
    background-color: #e900c6;
    border: none;
    font-weight: bold;
    padding: 0.5rem;
}

#button__secondary {
    background-color: #000024;
    border: solid 0.1rem #dcdcdc;
    color: #dcdcdc;
}

#input__form {
    background-color: #000024;
    border: solid 0.1rem #00e9ab;
}

/* REGISTER SESSION */
#register__container {
    background-color: #dcdcdc;
    height: 100vh;
}

#register__form {
    background-color: #000024;
    width: 25rem;
    border-radius: 1rem;
    padding: 3rem;
}

#register_fields {
    color: #00e9ab;
    font-size: 1.1rem;
}

#register__category {
    background-color: #000024;
    border: solid 0.1rem #00e9ab;
    color: #dcdcdc;
}

/* LOGIN SESSION */
#login__logo {
    color: #dcdcdc;
}

#login__rigthSide {
    height: 100vh;
    background-color: #dcdcdc;
}

#login__form {
    background-color: #000024;
    width: 25rem;
    border-radius: 1rem;
    padding: 3rem;
}

#login__title {
    color: #00e9ab;
}

#login__paragraph {
    color: #dcdcdc;
}

/* DASHBOARD SESSION */
#dashboard__icons{
    font-size: 3rem;
    color: #dcdcdc;
}

#dashboard__title {
    font-size: 1.2rem;
    color: #dcdcdc;
}

#dashboard__paragraph {
    font-size: 1rem;
    color: #dcdcdc;
}

/* TOPICS SESSION */
#topics__button {
    background-color: #000024;
    border: solid 0.2rem #00e9ab;
    color: #e900c6;
    font-size: 1.2rem;
    width: 80%;
}

#topics__lessonsOnTopics {
    color: #dcdcdc;
    font-size: 1rem;
}

/* LESSONS SESSION */
#lesson__title {
    color: #dcdcdc;
    font-size: 1rem;
}
